<div class="logo-footer">
    <img src="/images/logo.svg" alt="">
</div>

<div class="contenedor-footer">
    <div class="contenedor-footer-1">
        <img src="/images/icon-location.svg" alt="">
        <p>Lorem ipsum dolor sit amet, consecteur adipiscing elit, sed do eiusmod tempor incididunt ut kabore et dolore
            magna aliqua.</p>
    </div>

    <div class="contenedor-footer-2">
        <div class="phone-footer">
            <img src="/images/icon-phone.svg" alt="">
            <p>+1-543-123-4567</p>
        </div>
        <div class="email-footer">
            <img src="/images/icon-email.svg" alt="">
            <p>example@fylo.com</p>
        </div>
    </div>

    <div class="contenedor-footer-3">
        <a href="#">About Us</a>
        <a href="#">Jobs</a>
        <a href="#">Press</a>
        <a href="#">Blog</a>
    </div>

    <div class="contenedor-footer-4">
        <a href="#">Contact Us</a>
        <a href="#">Terms</a>
        <a href="#">Privacy</a>
    </div>

    <div class="contenedor-footer-redes">
        <i class="fab fa-facebook-square fa-2x"></i>
        <i class="fab fa-instagram fa-2x"></i>
        <i class="fab fa-twitter-square fa-2x"></i>
    </div>
</div>