<div class="nav">
    <div class="nav-img">
        <img src="/images/logo.svg" alt="">
    </div>
    <div class="nav-link">
        <p>Features</p>
        <p>Team</p>
        <p>Sing In</p>
    </div>
</div>