
<% for (let i = 0; i < descripciones.length; i++) { %>    
    <div class="access">
        <img src="<%= descripciones[i].icon%> " alt="">
        <h2><%= descripciones[i].title%></h2>
        <p><%= descripciones[i].description%></p>
    </div>
<% } %>