<% for (let i = 0; i < testimonios.length; i++) { %>
    <div class="contenedor-testimonio">
        <p><%= testimonios[i].descripcion%> </p>
        <div class="contenedor-descripcion">
            <img src="<%= testimonios[i].imagen %>" alt="">
            <div class="datos-cliente">
                <h3><%= testimonios[i].nombre%>"</h3>
                <h5><%= testimonios[i].cargo%>"</h5>
            </div>
        </div>
    </div>
<% } %>