<div class="info-site">
    <img src="/images/illustration-intro.png" alt="">
    <div class="Cuerpo-section">
        <h1>All your files in one secure location.</h1>
        <p>Fylo store all your most important diles in on secure location. Access them wherever you need, share and
            collaborate
            with friends family, and co-workes.</p>
        <form action="">
            <button> Get Started</button>
        </form>
    </div>
</div>