:root{
  /* Colors ### Primary */
  
  --Dark-Blue-main-background: hsl(218, 28%, 13%);  
  --Dark-Blue-testimonials-background: hsl(219, 26%, 25%); 
  --Dark-Blue-intro-email-sign: hsl(217, 28%, 15%);
  --Dark-Blue-footer-background: hsl(213, 65%, 3%);
  --Dark-email: hsl(216, 28%, 23%);

  /*### Accent */

  --Cyan-call-to-action-gradient: hsl(176, 68%, 64%);
  --Blue-call-to-action-gradient: hsl(198, 60%, 50%);
  --Light-Red-error: hsl(0, 100%, 63%);

  /*### Neutral */
  --White: hsl(0, 0%, 100%);
}

*{
  
  color: var(--White);
  font-size: 12px;
}

body {  
  background-color: var(--Dark-Blue-main-background);
  font-family: 'Open Sans';
  margin: 0px;
}

/*Header nav*/

.nav{  
  display: flex;
  background-color: var(--Dark-Blue-main-background);
  justify-content: space-around;
}

.nav-img{
  align-items: center;
  display: flex;
  width: 50%;
}

.nav-img img{
  width: 50%;
}

.nav-link{
  align-items: center;
  display: flex;
  justify-content: space-around;
  width: 50%;
}

.nav-link p {
  color: rgb(167, 166, 166);
  
}

.nav-link p:hover{
  color: white;
  cursor: pointer;
  font-size: 13px;
}


/* seccion 1*/
section .info-site{
  text-align: center;
}

.info-site img{
  margin-top: 30px;
  width: 70%;
}

.info-site h1{
  font-size: 20px;
}

.Cuerpo-section{
  margin: 5px 20px 20px 20px;
}

form button {
  background-color: var(--Cyan-call-to-action-gradient);
  border-radius: 50px;
  font-size: 10px;
  height: 30px;
  width: 150px;
  
}

form input{
  color: black;
}

/*section-2*/
.access{
  text-align: center;
  margin: 50px 20px;
}

.access h2{
  font-size: 14px;
}

.access img{
  width: 15%;
}

/*section-3*/

.section-3 {
  text-align: center;
}
.productividad{
  margin: 30px 20px;
}

.productividad p{
  text-align: justify;
}

.productividad-img img{
  width: 70%;
}

.productividad-link{
  align-items: center;
  display: flex;
  color: var(--Cyan-call-to-action-gradient);
}

/*section-4*/
.section-4{
  padding: 50px 0px 50px 0px;
}

#quotes {
  left: 26px;
  position: absolute;
  width: 20px;
  top: 1723px;
}

.contenedor-descripcion{
  align-items: center;
  background-color: var(--Dark-Blue-testimonials-background);
  display: flex;
  justify-content: space-around;
  margin-bottom: 15px;
}

.contenedor-descripcion img{
  border-radius: 50px;
  height: 30px;
  width: 30px;
}

.contenedor-testimonio{
  background-color: var(--Dark-Blue-testimonials-background);
  border-radius: 10px;
  margin: 20px 20px;
  padding: 5px 20px;
  
}

.contenedor-testimonio p{
  background-color: var(--Dark-Blue-testimonials-background);
}

.datos-cliente h3 {
  background-color: var(--Dark-Blue-testimonials-background);
  margin: 0px;
}

.datos-cliente h5 {
  background-color: var(--Dark-Blue-testimonials-background);
  font-size: 10px;
  font-weight: normal;
  margin: 0px;
}

/*section email*/

.email{
  background-color: var(--Dark-email);  
  border-radius: 10px;
  margin: 15px;
  margin-bottom: -150px;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 18px;
  position: relative;
}

.email:hover{
  box-shadow: 3px 3px 3px 2px rgba(223, 212, 212, 0.2);
}

.email h1{
  background-color: var(--Dark-email);
  font-size: 18px;
}

.email h5{
  background-color: var(--Dark-email);
  font-size: 14px;
  font-weight: normal;
  margin: 0px 17px 10px 17px;
}

.formulario-envio form{
  background-color: var(--Dark-email);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 5px 10px;  
}

.formulario-envio form input{
  background-color: white;
  border-radius: 50px;
  height: 30px;
  width: 250px;
}

.formulario-envio form button {
  background-color: var(--Cyan-call-to-action-gradient);
  border-radius: 50px;
  height: 37px;
  margin: 10px 0px;
  width: 260px;
}

button:hover{
  background-color: var(--Blue-call-to-action-gradient);
}

.formulario-envio form button:hover{
  background-color: var(--Blue-call-to-action-gradient);
}

/*footer*/

.logo-footer img{
  width: 150px;
}

footer{
  padding: 230px 20px 50px 20px;
  background-color: var(--Dark-Blue-footer-background);
}

  .contenedor-footer-redes i:hover{
    color: aqua;
  }

.contenedor-footer-1{
  align-items: center;
  display: flex;
}

.contenedor-footer-1 img{
  height: 23px;
  padding: 0px 15px;
  width: 23px;
}

.contenedor-footer-1 p {
  font-size: 14px;
}    

.contenedor-footer-2 {
  display: grid;
}

.phone-footer{
  align-items: center;
  display: flex;
}

.phone-footer img{
  height: 23px;
  padding: 0px 15px;
  width: 23px;
}

.phone-footer p {
  font-size: 14px;
}

.email-footer{
  align-items: center;
  display: flex;
}

.email-footer img {
  height: 23px;
  padding: 0px 15px;
  width: 23px;
}

.email-footer p{
  font-size: 14px;
}

.contenedor-footer-3 {
  display: grid;
  padding: 50px 0px 10px 15px;
}

.contenedor-footer-3 a{
  color: rgb(231, 235, 231);
  font-size: 14px;
  padding: 5px 0px;
  text-decoration: none;
}

.contenedor-footer-3 a:hover {
  color: white;
  cursor: pointer;
  font-size: 15px;
}

.contenedor-footer-4 {
  display: grid;
  padding: 10px 0px 50px 15px;
}

.contenedor-footer-4 a {
  color: rgb(231, 235, 231);
  font-size: 14px;
  padding: 5px 0px;
  text-decoration: none;
}

.contenedor-footer-4 a:hover {
  color: white;
  cursor: pointer;
  font-size: 15px;
}

.contenedor-footer-redes{
  display: flex;
  justify-content: center;
}

.contenedor-footer-redes i{
  padding: 0px 10px 0px 10px;
}

.text-danger{
  display: none;
  color: var(--Light-Red-error);
}


/*DISPOSITIVOS MOVILES*/
@media (max-width:375px){ 
  
  .info-site{
    margin: none;
  }

  .nav{
    padding: 20px;
  }

}

@media (min-width:376px) {
  .nav {
    padding: 25px;
  }

  .info-site{
    margin: 0px 80px;
  }
  .section-2{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .access{
    width: 30%;
  }
  .nav-link p {
  font-size:14px;  
  }

   .nav-link p:hover{
  font-size: 16px;
}

  .section-3{
    margin: none;
  }
  .productividad{
    margin: 0px 35px;
  }
  .section-4{
    margin: 0px 25px;
  }
  .section-email{
    text-align: -webkit-center;
  }
  .email{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: -100px;
    width: 85%;
  }

  .formulario-envio form button{
  margin: 0px;
  width: 260px;
  }

footer{
  padding-top: 180px;
}
}


@media (min-width:769px) { 
  .nav {
    padding: 35px;
  }

  .info-site{
    margin: 0px 110px;
  }

  .nav-link {
    width: 35%;
  }

  .nav-link p {
    font-size:15px;  
    justify-content: space-evenly;
    
  }

  .nav-link p:hover{
  font-size: 17px;
}

  *{
    font-size: 13px;
  }

  .access{
    width: 35%;
  }

  .section-3{
    margin: 40px;
  }

  .section-3 div{
    align-items: center;
    display: flex;
    justify-content: space-around;
  }
  .productividad{
    display: flex;
    flex-wrap: wrap;
    width: 75%;
  }

  .productividad-img img{
    width: 95%;
  }

  .section-4{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .contenedor-testimonio{   
    margin: 20px 13px;

    width: 23%;
  }
  .section-email{
    text-align: -webkit-center;
  }
  .email{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 55%;
  }

  .formulario-envio form button{
  margin: 0px;
  width: 150px;
  }

  .contenedor-footer{
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  .contenedor-footer-1{
    align-self: start;
    width: 30%;
  }
  .contenedor-footer-2{
    align-self: start;
    justify-content: center;
    width: 20%;
  }
  .contenedor-footer-3{
    justify-content: center;
    padding: 0px;
    width: 15%;
  }
  
  .contenedor-footer-4{
    align-self: start;
    justify-content: center;
    padding: 0px;
    width: 15%;
  }
  
  .contenedor-footer-redes{
    align-self: start;
    justify-content: center;
    width: 20%;
  }
}