<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <div class="nav">
          <div class="nav-img">
              <img src="/images/logo.svg" alt="">
          </div>
          <div class="nav-link">
              <p>Features</p>
              <p>Team</p>
              <p>Sing In</p>
          </div>
      </div>
    </nav>

    <header>
        <section class="section-1">
            <div class="info-site">
                <img src="/images/illustration-intro.png" alt="">
                <h1>All your files in one secure location.</h1>
                <p>Fylo store all your most important diles in on secure location. Access them wherever you need, share and collaborate with friends family, and co-workes.</p>
                <form action="">
                    <button> Get Started</button>
                </form>
            </div>
        </section>

        <section class="section-2">
            <div class="access">
                <img src="/images/icon-access-anywhere.svg" alt="">
                <h2>Access your files, anywhere</h2>
                <p>The ability to use a smartphone, tablet, or computer to access your account means your files follow you everywhere.</p>
            </div>

            <div class="">
                <img src="/images/icon-security.svg" alt="">
                <h2>security you can trust</h2>
                <p>2-factor authenticarion and user-controlled encryption are just a couple of the security features we allow to help secure your files</p>
            </div>

            <div class="">
                <img src="/images/icon-collaboration.svg" alt="">
                <h2>Real-time collaboration</h2>
                <p>Securely share files and folders with friends, family and colleagues for live collaboration. No email attachments required.</p>
            </div>
      
            <div class="">
                <img src="/images/icon-any-file.svg" alt="">
                <h2>Store any type of file</h2>
                <p>Whether you're sharing holidays photos or work docuemnts, Fylo has you covered allowing for all file types to be securely stored and shared.</p>
            </div>
        </section>

        <section class="section-3">
            <div>
                <div>
                    <img src="/images/illustration-stay-productive.png" alt="">
                </div>
                <div>
                    <h1>Stay productive, wherever you are</h1>
                    <p>Never let location be an issue when accessing your files. Fylo has you covered for all of your file storage needs</p>
                    <p>Securely share files and folders with friends, family and colleagues for live collaboration. No email attachments required.</p>
                    <div>
                        <link rel="stylesheet" href="#">See how Fylo works
                        <img src="/images/icon-arrow.svg" alt="">
                    </div>
                </div>
            </div>
        </section>

        <section class="section-4">
            <img src="/images/bg-quotes.png" alt="">
            <div>
                <p>Fylo has improved our team productivity by an order of magnitude. Sinces making the switch our team has become a well-olled collaboration machine.</p>
                <div>
                  <img src="/images/profile-1.jpg" alt="">
                  <h3>Satish Patel</h3>
                  <h5>Founder & CEO, Huddle</h5>
                </div>
            </div>

            <div>
                <p>Fylo has improved our team productivity by an order of magnitude. Since making the swith our team has become a well-olled collaboration machine.</p>
                <div>
                  <img src="/images/profile-2.jpg" alt="">
                  <h3>Bruce McKenzle</h3>
                  <h5>Founder & CEO, Huddle</h5>
                </div>
            </div>

            <div>
                <p>Fylo has improved our team productivity by an order of magnitude. Since making the swith our team has become a
                  well-olled collaboration machine.</p>
                <div>
                  <img src="/images/profile-3.jpg" alt="">
                  <h3>Iva Boys</h3>
                  <h5>Founder & CEO, Huddle</h5>
                </div>
            </div>
        </section>
    </header>

    <section>
        <div>
            <h1>Get early access today</h1>
            <h5>It only takes a minute tod sign up and our free starter tier is extremely generous. If you have any questions, our support team wold be happy to help you.</h5>
            <div>
              <form action="">
                <input type="text" name="inputText" value="Johnappleseed#mail.com">
                <button>Get Started For Free</button>
              </form>
            </div>
        </div>
        <img src="/images/bg-curvy-desktop.svg" alt="">
    </section>

    <footer>
      <Div>
          <img src="/images/logo.svg" alt="">
      </Div>

      <div>
        <div>
          <img src="/images/icon-location.svg" alt="">
          <p>Lorem ipsum dolor sit amet, consecteur adipiscing elit, sed do eiusmod tempor incididunt ut kabore et dolore magna aliqua.</p>
        </div>
        <div>
          <img src="/images/icon-phone.svg" alt="">
          <p>+1-543-123-4567</p>
          <img src="/images/icon-email.svg" alt="">
          <p>example@fylo.com</p>
        </div>
      </div>      
    </footer>
  </body>
  
</html>
